#content-container{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 0px;
    margin-top:30px;
    min-width: 1200px;
    width: 97.6%;
}
.container-row{
    margin-bottom: 20px;
}
.input-tip{
    margin: 0 10px;
    line-height: 40px;
}
.input-field{
    margin-right: 40px;
}

/* 标题字体样式 */
.font_title{
    font-size: 30px;
    letter-spacing: 3px;
}
/* 副标题字体样式 */
.font_subheading{
    font-size: 38px;
    letter-spacing: 3px;
}

/* 标题到输入框之间的距离 */
.interval{
    margin-bottom: 40px;
}






/* div内元素之间的距离 */
.smallInterval{
    margin-bottom: 10px;
}
/* 模块之间的下间距 */
@media screen and (min-height:800px) {
    .footerInterval{
        margin-bottom: 100px;
    }
}

/* table改变边框颜色 */

.el-table--border, .el-table--group {
    border: 1px solid #000!important;
}

/* 改变table内竖线颜色 */
.el-table--border  td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border-right: 1px solid #000!important;
}

/* 改变表格内行线颜色 */
 
.el-table  td, .el-table th.is-leaf  {
    border-bottom: 1px solid #000!important;
    /* height: 30px !important; */

}
 

/* 改变表头字体颜色 */
.el-table thead {
    color: black;
    font-size: 18px;
}

.el-table td.el-table__cell div{
    font-size: 16px;
    color: black;


}
  